body{
  margin: 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #EDECE9;
  font-size: 14px;
  line-height: 18px;
  overflow-y: scroll;
}



.titleBar {
  background-color: red;
  height: 46px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  overflow: hidden;
}

.centerer {
  max-width: 1214px;
  min-width: 920px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

#headWrapper {
  display: flex;
  justify-content:space-between;
}

.primaryFunctions {
  background-color: purple;
  height: 100%;
  
  width: 409px;
  min-width: 204px;
}

#mainLogo {
  background-color: white;
  height: 21px;
  max-width: 24px;
  min-width: 24px;
  margin-top: 14;
 
}

.accountControls {
  z-index: 2;
  background-color: pink;
  height: 100%;
  width: 409px;
 }

.wrapper {
  height:100%;
  width: 100%;
  overflow: hidden;
}

#mainDisplayArea {
  padding: 56px 0px 0px 0px;
}

.userInfo {
  border-radius: 6px;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 100%;
  min-width: 290px;
  max-width: 290px;
  display: inline-block;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}



.unnecessaryChit {
  margin-left: 10px;
  border-radius: 6px;
  background: yellow;
  border: 1px solid #e1e8ed;
  margin-bottom: 10px;
  height: 536px;
  min-width: 290px;
  max-width: 290px;
  height: 100%;
  float: left;
}


.accountDetails {
  height: auto;
  min-height: 253;
  width:290;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: turquoise;
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e8ed;
}

.titleImage {
  height: 96px;
  width: 100%;
  border: 0;
  border-radius: 4px 4px 0 0;
  background-position-y: 50%;
  background-color: orange;
  order: 1;
}

.idCard {
  width:100%;
  height: 45px;
  order: 2;
  background-color: red;
}

.chitFace {
  height: 73px;
  width: 70px;
  margin: 0 0 0 8px;
  vertical-align: bottom;
  position: relative;
  top: -33px;
  border-radius: 6px;
  padding: 3px;
  background-color: white;
}

.headShot {
  height: 70px;
  width: 70px;
  border-radius: 5px;
}

.chitName {
  height: 100%;
  background-color: blue;
  width: 206px;
  position: relative;
  float: right;
  top: -79px;
}

.chitStats {
  order: 3;
  background-color: yellow;
  height: 52px;
}

.spoutSomeChit {
  order: 4;
  background-color: purple;
  height: 36;
  border-radius: 0 0 6px 6px;
  padding: 12px;
}

.chitBox {
  height: 32px;
  width: 264px;
  border-radius: 6px;
  border: 0;
}

.chitHolder {
  height: 32px;
  width: 264px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #e1e8ed;
}

.chitbuttons {
  display: none;
}

.trending {
  height: 231px;
  width: 260px;
  border-radius: 6px;
  border: 1px solid #e1e8ed;
  background-color: #FFF;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.trendHead{
  height: 22px;
  width: 258px;
  background-color: LightBlue;
  order: 1;
}

.trends {
  width:258px;
  height:201px;
  margin-top: -4px;
  background-color: blue;
  order: 2;
}

#chitterPipe {
  border-radius: 6px 6px 0px 0px;
  height: 100%;
  min-width: 590px;
  max-width: 590px;
  background-color: blue;
  display: inline-block;
  margin-left: 10px;
  float: left;
}

#chitHead {
  height: 46px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  background-color: pink;
  position: relative;
  float: left;
}

#cheets {
  width: 100%;
  float: left;
}

.whoToFollow {

}