<html>
<head>
</head>
<body>
  <h1> Welcome to Chitter! </h1>
  <form class='signUp' action='/cheets' method='post'>
  <h3> Please sign up </h3>
  Full Name:<input type='text' name='name'>
  Email:<input type='text' name='email'>
  Password:<input type='text' name='password'>
  <input type="submit" value="Sign Up">
  </form>
</body>
</html>