.trending {
  min-height: 220px;
  width: 260px;
  border-radius: 6px;
  border: 1px solid #e1e8ed;
  background-color: #FFF;
  padding: 0 15px 0 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.trends {
  width:258px;
  height:201px;
  margin-top: -4px;
  background-color: #FFFFFF;
  order: 2;
}

.trendItem {
  font-family: "Gotham Narrow SSm",sans-serif,Arial;
  list-style: none;
  color: #0084B4;
  font-size: 12px;
}

.trendList {
  padding-left: 5px;
  margin: 5px;
}