.userInfo {
  border: 0;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 100%;
  min-width: 290px;
  max-width: 290px;
  display: inline-block;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.accountDetails {
  height: 253px;
  min-height: 253px;
  max-height: 460px;
  width:290;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  border: 0;
}

.titleImage {
  min-height: 96px;
  max-height: 96ps;
  width: 100%;
  border: 0;
  border-radius: 4px 4px 0 0;
  background-position-y: 50%;
  background-color: #0084B4;
  order: 1;
}

.idCard {
  width:100%;
  min-height: 45px;
  max-height: 45px;
  order: 2;
  background-color: #FFFFFF;
}

.chitFace {
  min-height: 73px;
  max-height: 73px;
  width: 70px;
  margin: 0 0 0 8px;
  vertical-align: bottom;
  position: relative;
  top: -33px;
  border-radius: 6px;
  padding: 3px;
  background-color: #FFFFFF;

}

.headShot {
  min-height: 70px;
  max-height: 70px;
  width: 70px;
  border-radius: 5px;
}

.chitName {
  max-height: 45px;
  min-height: 45px;
  background-color: #FFFFFF;
  width: 206px;
  position: relative;
  float: right;
  top: -79px;
  display: flex;
  flex-direction: column;
}

#realName{
  max-height: 21px;
  min-height: 21px;
  width:185;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding-left: 6px;
  margin-top: 8px;
}

#handle{
  max-height: 21px;
  min-height: 21px;
  width:185;
  font-weight: 700;
  font-size: 12px;
  color: #66757f;
  line-height: 16px;
  padding-left: 6px;
}

.chitStats {
  order: 3;
  background-color: #FFFFFF;
  min-height: 52px;
  max-height: 52px;
  display: flex;
  flex-direction: row;
}

.statBox {
  margin-top: 5px;
  width: 96px;
  height: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.statNumber {
  color: #0084B4;
  font-size: 18px;
  margin-top: 15px;
  width: 96px;
  height: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
}

.statNumber {
  cursor: pointer;
}

.statHead {
   color: #8C9FB1;
   transition: color 0.1s linear;
}

.statHead:hover {
  color: #0084B4;
  cursor: pointer;
}

.spoutSomeChit {
  order: 4;
  background-color: #E5F2F7;
  height: 36px;
  min-height: 36px;
  max-height: 380px;
  border-radius: 0 0 6px 6px;
  border-top: 1px solid #BFE0EC;
  padding: 12 0 12 12;
  overflow: hidden;
}

.chitBox {
  min-height: 23px;
  height: 32px;
  width: 264px;
  border-radius: 6px;
  background-color: white;
  padding-top: 5px;
  font-size: 14px;
  border: 1px solid #C0E1ED;
  outline: 0;
  vertical-align: text-top;
  resize: none;
}

.chitBox:focus {
  border-color: #2E9AC2;
}

.chitButtons {
  width: 100%;
  min-height: 26px;
  
  margin-bottom: 10px;
  margin-top: 20px;
  float: left;
  position: relative;
}

.addPics {
  margin-left: 3px;
  font-size: 20px;
  padding: 5px;
  color: #00A6CC;
  border-radius: 6px;
  text-align: center;
  float: left;
}

.fa-camera {
  margin-right: auto;
  margin-left: auto;
}

.locButton {
  margin-left: 15px;
  font-size: 20px;
  padding: 5px;
  color: #73BBD6;
  border-radius: 6px;
  text-align: center;
  float: left;
}

.cheetPoster {
  float: right;
  padding: 5px;
  position: relative;
  top: -8px;
  left: -13;
  display: flex;
  flex-direction: row;
}

.chitCount{
  float:left;
  top: 10px;
  right: 5px;
  position: relative;
}

.cheetButton {
  cursor: pointer;
  float:left;
  background-color: #73BBD6;
  border: 1px solid tranparent;
  padding: 9px 16px 8px 17px;
  text-align: center;
  color: #FFFFFF;
  width: 62px;
  height: 20px;
  border-radius: 2px
}

.composeButton {
  float: left;
  position: relative;
  bottom: 3;
  right: 3;
  cursor: pointer;
}

.cheetLabel {
  cursor: pointer;
  float: left;
  position: relative;
  bottom: 23;
  right: -25;
  font-size: 14px;
font-weight: bold;
line-height: normal;
}


