#chitterPipe {
  border-radius: 6px 6px 0px 0px;
  height: 100%;
  min-width: 590px;
  max-width: 590px;
  background-color: #FFFFFF;
  display: inline-block;
  margin-left: 10px;
  float: left;
}

#chitHead {
  height: 46px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  background-color: #FFFFFF;
  position: relative;
  float: left;
}

#cheets {
  width: 100%;
  float: left;
}