

<section id='mainDisplayArea' class='centerer'>
  <aside class='userInfo'>
    <section class='accountDetails'>
      <a class='titleImage'></a>
      <section class='idCard'>
        <div class='chitFace'>
          <img class='headShot' src='images/chitFace.png'>
        </div>
        <div class='chitName'>
          <a id='realName' class='textLink'>Daniel Bergquist</a>
          <a id='handle' class='textLink'><%= @user.username %></a>
        </div>
      </section>
      <section class='chitStats'>
        <div id='cheetCount' class='statBox'>
          <div class='statHead'>Cheets</div>
          <div class='statNumber'>42</div>
        </div>
        <div id='followingCount' class='statBox'>
          <div class='statHead'>Following</div>
          <div class='statNumber'>42</div>
        </div>
        <div id='followersCount' class='statBox'>
          <div class='statHead'>Followers</div>
          <div class='statNumber'>42</div>
        </div>
      </section>
      <section class='spoutSomeChit'>
        
        
        
        <form class='chitForm'>
          
          <textarea class='chitBox' type='text' placeholder='Compose new Cheet...' ></textarea>
          
          <div class='chitButtons'>
            <span class='addPics'>
            <i class='fa fa-camera'></i>
            </span>
            <span class='locButton'>
            <i class='fa fa-map-marker'></i>
            </span>
            <span class='cheetPoster'>
            <span class='chitCount'>140</span>
            <div class='cheetButton'>
              <img class=composeButton src='images/ComposeLogoDark.png'>
              <span class='cheetLabel'>Cheet</span>
            </div>
            </span>
          </div>
        </form>
        
        
        
        
        
        
      </section>
    </section>
    <section class='trending'>
    <header class='trendHead'></header>
    <div class='trends'>
      <ul class='trendList'>
        <li class='trendItem'></li>
        <li class='trendItem'></li>
        <li class='trendItem'></li>
        <li class='trendItem'></li>
        <li class='trendItem'></li>
        <li class='trendItem'></li>
        <li class='trendItem'></li>
        <li class='trendItem'></li>
        <li class='trendItem'></li>
        <li class='trendItem'></li>
      </ul>
    </div>
  </section>
</aside>
<main id='chitterPipe'>
<header id='chitHead'>
  <h2 id='chitterHeader'>Cheets</h2>
</header>
<section id='cheets'>
  <ol id='cheetList'>
    <li class='cheet'></li>
    <li class='cheet'></li>
    <li class='cheet'></li>
    <li class='cheet'></li>
    <li class='cheet'></li>
    <li class='cheet'></li>
    <li class='cheet'></li>
    <li class='cheet'></li>
    <li class='cheet'></li>
    <li class='cheet'></li>
    <li class='cheet'></li>
  </ol>
</section>
</main>
<aside class='unnecessaryChit'>
  <section class='whoToFollow'>
  </section>
  <section class='aboutChitter'>
  </section>
</aside>
</section>