<html>
<head>
</head>
<body>
  <h1> Welcome to Chitter! </h1>
    <% if current_user %>
      Sign up successful! Welcome, <%= current_user.name %>.
    <% else %>
      <form class='signUp' action='/signup' method='post'>
      <h3> <strong>New to Chitter?</strong> Please sign up here</h3>
      Full Name:<input type='text' name='name'>
      Email:<input type='text' name='email'>
      User Name:<input type='text' name='user_name'>
      Password:<input type='password' name='password'>
      Password Confirmation:<input type='password' name ='password_confirmation'>
      <input type="submit" value="Sign Up">
      </form>
    <% end %>
</body>
</html>